@use "../../../app/variables" as *;

.hidden {
    transition: opacity 0.35s;
    opacity: 0;

    &:hover {
        cursor: default;
    }
}

.upButton {
    transition: opacity 0.35s;
    opacity: 1;
}