@use "../../../../../variables" as *;

.elementContainer {
	width: 100%;
	height: 90%;

	flex-grow: 1;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	.title {
		width: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;

		div {
			width: 80%;

			padding-top: 15px;
			padding-bottom: 5px;

			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			border-bottom: 1px solid $text-color;

			img {
				width: 30px;
			}

			h3 {
				margin-left: 10px;

				font-size: var(--step-5);
				font-weight: 700;
				color: $text-color;
			}
		}

		.location {
			font-size: var(--step-2);
			font-weight: lighter;

			margin-top: 10px;
			margin-bottom: 15px;
		}

		.description {
			width: 100%;
			text-align: justify;
			overflow: hidden;
			text-overflow: ellipsis;

			margin-top: 5%;

			padding-left: 10px;
			padding-right: 10px;

			font-weight: 300;

			font-size: var(--step-1);
		}
	}

	a {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 520px) {
	.elementContainer {
		.title {
			.description {
				display: -webkit-box;
				-webkit-line-clamp: 17; /* number of lines to show */
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}

@media screen and (max-width: 375px) {
	.elementContainer {
		.title {
			.description {
				display: -webkit-box;
				-webkit-line-clamp: 12; /* number of lines to show */
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}
