// Texts
$text-color: var(--text-color);

$text-font-space: var(--text-font-space);

// Colors
$primary-color: var(--theme-color);
$primary-color-bg: var(--theme-color-bg);

$primary-red-color: var(--primary-red-color);
$primary-red-color-bg: var(--primary-red-color-bg);

$background-color: var(--background-color);

// Breakpoints
$phone-width: var(--phone-width);
$tablet-width: var(--tablet-width);
$desktop-width: var(--desktop-width);
